.loading-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.loader {
    border-radius: 50%;
    animation: spin 3s linear infinite;
}